#### 构建movie数据源

In [5]:
import pandas as pd

# 读取 file
df1 = pd.read_csv("movie_data_en.csv")
df2 = pd.read_csv("movie_data_cn.csv")

In [6]:
df1

,ID,NAME,ACTORS,DIRECTOR,CONTENT
0,1,Mulan,Taraji P. Henson,Guillermo del Toro,"A blockbuster hit that combines action, drama,..."
1,2,Parasite,Johnny Depp/Tom Holland/Harrison Ford/Will Smi...,Lee Daniels,Parasite is a must-watch for fans of fantasy.
2,3,Schindler's List,Robert Downey Jr./Heath Ledger/Lupita Nyong'o/...,Zhang Yimou,Schindler's List is a must-watch for fans of r...
3,4,The Lego Movie,Lupita Nyong'o/Yara Shahidi/Anne Hathaway/Viol...,Steven Spielberg,"Directed by Steven Spielberg, The Lego Movie d..."
4,5,Brother Bear,Taraji P. Henson/Johnny Depp/Emma Watson/Regin...,David Fincher,"In Brother Bear, Samuel L. Jackson stars as a ..."
...,...,...,...,...,...
180,82,Zootopia,Angela Bassett/Anne Hathaway/Yara Shahidi,Park Chan-wook,"Thrilling and thought-provoking, Zootopia expl..."
181,83,Winnie the Pooh,Emma Watson,Ava DuVernay,In a world where magic collides with modernity...
182,84,The Lego Movie,Scarlett Johansson/Kate Winslet/Lupita Nyong'o...,Francis Ford Coppola,"Directed with masterful precision, The Lego Mo..."
183,85,Bambi,Ryan Gosling/Anne Hathaway/Taraji P. Henson/Am...,David Fincher,"Thrilling and thought-provoking, Bambi explore..."
184,86,Strange World,Zendaya/Ayo Edebiri/Robert Downey Jr.,Ava DuVernay,"In this epic tale, Robert Downey Jr. embarks o..."

In [7]:
df2

      ID   NAME    ACTORS DIRECTOR                              CONTENT
0    100   暗夜追凶  张伟/李娜/王强       陈明    在连绵阴雨的城市中，一名刑警追查一宗看似普通却暗藏玄机的连环案件。
1    101   时间回声     刘洋/赵敏       王磊  一次失败的实验让科学家短暂看到未来片段，却因此陷入无法逃脱的命运循环。
2    102   孤岛信号  陈晨/周雪/林涛       李海        几名游客被困孤岛，在求生过程中逐渐发现岛屿隐藏的惊人秘密。
3    103  最后一封信     黄凯/孙婷       赵军      一封尘封多年的信件被意外发现，一家人被迫重新面对被掩埋的真相。
4    104   城市边缘  吴昊/郑琳/马超       周强        几位年轻人在大城市夹缝中生存，在现实压力下寻找自我与尊严。
..   ...    ...       ...      ...                                  ...
195  295  倒计时零点  张伟/李娜/王强       陈明        登山队深入雪山腹地，在极端环境中直面自然与人性的双重考验。
196  296   灰色协议     刘洋/赵敏       王磊         密闭空间内发生命案，无法说话的目击者成为破解真相的关键。
197  297  消失的航班  陈晨/周雪/林涛       李海            中年男子重返故乡，在旧友与回忆中重新理解人生选择。
198  298   玻璃之城     黄凯/孙婷       赵军           深海潜艇突发事故失联，船员在极限环境下展开自救行动。
199  299   逆流而上  吴昊/郑琳/马超       周强           一趟夜行列车上，素不相识的乘客命运在雨夜中悄然交汇。

[200 rows x 5 columns]

In [9]:
# 纵向合并
df = pd.concat([df1, df2], axis=0)

# 如不需要保留原索引，重置索引
df = df.reset_index(drop=True)

df

,ID,NAME,ACTORS,DIRECTOR,CONTENT
0,1,Mulan,Taraji P. Henson,Guillermo del Toro,"A blockbuster hit that combines action, drama,..."
1,2,Parasite,Johnny Depp/Tom Holland/Harrison Ford/Will Smi...,Lee Daniels,Parasite is a must-watch for fans of fantasy.
2,3,Schindler's List,Robert Downey Jr./Heath Ledger/Lupita Nyong'o/...,Zhang Yimou,Schindler's List is a must-watch for fans of r...
3,4,The Lego Movie,Lupita Nyong'o/Yara Shahidi/Anne Hathaway/Viol...,Steven Spielberg,"Directed by Steven Spielberg, The Lego Movie d..."
4,5,Brother Bear,Taraji P. Henson/Johnny Depp/Emma Watson/Regin...,David Fincher,"In Brother Bear, Samuel L. Jackson stars as a ..."
...,...,...,...,...,...
380,295,倒计时零点,张伟/李娜/王强,陈明,登山队深入雪山腹地，在极端环境中直面自然与人性的双重考验。
381,296,灰色协议,刘洋/赵敏,王磊,密闭空间内发生命案，无法说话的目击者成为破解真相的关键。
382,297,消失的航班,陈晨/周雪/林涛,李海,中年男子重返故乡，在旧友与回忆中重新理解人生选择。
383,298,玻璃之城,黄凯/孙婷,赵军,深海潜艇突发事故失联，船员在极限环境下展开自救行动。
384,299,逆流而上,吴昊/郑琳/马超,周强,一趟夜行列车上，素不相识的乘客命运在雨夜中悄然交汇。

In [12]:
df_del1row = df.iloc[:, 1:]

# 对行随机洗牌
df_shuffled = df_del1row.sample(frac=1).reset_index(drop=True)
df_shuffled

,NAME,ACTORS,DIRECTOR,CONTENT
0,Robin Hood,Chris Evans/Heath Ledger,David Fincher,"Directed with masterful precision, Robin Hood ..."
1,静默病房,陈晨/周雪/林涛,李海,几名游客被困孤岛，在求生过程中逐渐发现岛屿隐藏的惊人秘密。
2,消失的航班,陈晨/周雪/林涛,李海,中年男子重返故乡，在旧友与回忆中重新理解人生选择。
3,Winnie the Pooh,Angela Bassett/Scarlett Johansson/Leonardo DiC...,Steven Spielberg,"Heartwarming and hilarious, Winnie the Pooh ch..."
4,Hercules,Christian Bale,Satoshi Kon,The film explores themes of courage through th...
...,...,...,...,...
380,倒计时零点,张伟/李娜/王强,陈明,登山队深入雪山腹地，在极端环境中直面自然与人性的双重考验。
381,玻璃之城,黄凯/孙婷,赵军,深海潜艇突发事故失联，船员在极限环境下展开自救行动。
382,Atlantis: The Lost Empire,Scarlett Johansson/Ryan Gosling/Taraji P. Hens...,John Singleton,"A blockbuster hit that combines action, drama,..."
383,雨夜列车,吴昊/郑琳/马超,周强,一趟夜行列车上，素不相识的乘客命运在雨夜中悄然交汇。
384,城市边缘,吴昊/郑琳/马超,周强,几位年轻人在大城市夹缝中生存，在现实压力下寻找自我与尊严。

In [ ]:
# 生成与行索引相同的字符串列
df_shuffled.insert(
    0,                      # 插入到最前面
    "ID",            # 列名
    df_shuffled.index.astype(str)
)

In [14]:
df_shuffled

,ID,NAME,ACTORS,DIRECTOR,CONTENT
0,0,Robin Hood,Chris Evans/Heath Ledger,David Fincher,"Directed with masterful precision, Robin Hood ..."
1,1,静默病房,陈晨/周雪/林涛,李海,几名游客被困孤岛，在求生过程中逐渐发现岛屿隐藏的惊人秘密。
2,2,消失的航班,陈晨/周雪/林涛,李海,中年男子重返故乡，在旧友与回忆中重新理解人生选择。
3,3,Winnie the Pooh,Angela Bassett/Scarlett Johansson/Leonardo DiC...,Steven Spielberg,"Heartwarming and hilarious, Winnie the Pooh ch..."
4,4,Hercules,Christian Bale,Satoshi Kon,The film explores themes of courage through th...
...,...,...,...,...,...
380,380,倒计时零点,张伟/李娜/王强,陈明,登山队深入雪山腹地，在极端环境中直面自然与人性的双重考验。
381,381,玻璃之城,黄凯/孙婷,赵军,深海潜艇突发事故失联，船员在极限环境下展开自救行动。
382,382,Atlantis: The Lost Empire,Scarlett Johansson/Ryan Gosling/Taraji P. Hens...,John Singleton,"A blockbuster hit that combines action, drama,..."
383,383,雨夜列车,吴昊/郑琳/马超,周强,一趟夜行列车上，素不相识的乘客命运在雨夜中悄然交汇。
384,384,城市边缘,吴昊/郑琳/马超,周强,几位年轻人在大城市夹缝中生存，在现实压力下寻找自我与尊严。

In [15]:
print(df_shuffled)

      ID                       NAME  \
0      0                 Robin Hood
1      1                       静默病房
2      2                      消失的航班
3      3            Winnie the Pooh
4      4                   Hercules
..   ...                        ...
380  380                      倒计时零点
381  381                       玻璃之城
382  382  Atlantis: The Lost Empire
383  383                       雨夜列车
384  384                       城市边缘

                                                ACTORS          DIRECTOR  \
0                             Chris Evans/Heath Ledger     David Fincher
1                                             陈晨/周雪/林涛                李海
2                                             陈晨/周雪/林涛                李海
3    Angela Bassett/Scarlett Johansson/Leonardo DiC...  Steven Spielberg
4                                       Christian Bale       Satoshi Kon
..                                                 ...               ...
380                                           张伟/李娜/王强                陈明
381                                              黄凯/孙婷                赵军
382  Scarlett Johansson/Ryan Gosling/Taraji P. Hens...    John Singleton
383                                           吴昊/郑琳/马超                周强
384                                           吴昊/郑琳/马超                周强

                                               CONTENT
0    Directed with masterful precision, Robin Hood ...
1                        几名游客被困孤岛，在求生过程中逐渐发现岛屿隐藏的惊人秘密。
2                            中年男子重返故乡，在旧友与回忆中重新理解人生选择。
3    Heartwarming and hilarious, Winnie the Pooh ch...
4    The film explores themes of courage through th...
..                                                 ...
380                      登山队深入雪山腹地，在极端环境中直面自然与人性的双重考验。
381                         深海潜艇突发事故失联，船员在极限环境下展开自救行动。
382  A blockbuster hit that combines action, drama,...
383                         一趟夜行列车上，素不相识的乘客命运在雨夜中悄然交汇。
384                      几位年轻人在大城市夹缝中生存，在现实压力下寻找自我与尊严。

[385 rows x 5 columns]

In [17]:
import csv

df_shuffled.to_csv(
    "movies.csv",
    index=False,
    quoting=csv.QUOTE_ALL
)